.container {
    width: 500px;
    padding: 20px;
    background: antiquewhite;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.gen-quote-btn { 
    padding: 10px;
    background: #FFA500;
    border: none;
    border-radius: 5px;
}

.gen-quote-btn:hover {
    cursor: pointer;
    background: #ffb225;
}